---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div class="portfolio-container">
  {% for project in site.portfolio %}
  <div class="portfolio-card">
    <a href="{{ project.url | relative_url }}">
      <div class="portfolio-card-image">
        {% if project.image %}
          <img src="{{ project.image | relative_url }}" alt="{{ project.title }}">
        {% elsif project.excerpt contains '<img' %}
          {{ project.excerpt | split:'<br/>' | last | strip }}
        {% endif %}
      </div>
      <div class="portfolio-card-content">
        <h3>{{ project.title }}</h3>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
