<div class="cv-section">
  <h2 id="skills">Skills</h2>

  <div class="skill-row">
    <div class="skill-column">
      <h3><i class="fas fa-hashtag"></i> Hardware</h3>
      <ul>
        <li>FDM/SLA 3D Printing</li>
        <li>CNC</li>
        <li>PCB</li>
      </ul>
    </div>
    <div class="skill-column">
      <h3><i class="fas fa-hashtag"></i> Design</h3>
      <ul>
        <li>SolidWorks</li>
        <li>Inventor</li>
        <li>Rhino</li>
        <li>Ansys</li>
        <li>AutoCAD</li>
        <li>BambuStudio</li>
        <li>Cura</li>
        <li>Granta Selector</li>
      </ul>
    </div>
  </div>

  <hr class="skill-divider" />

  <div class="skill-row">
    <div class="skill-column">
      <h3><i class="fas fa-hashtag"></i> Electronics</h3>
      <ul>
        <li>STM32</li>
        <li>ESP32</li>
        <li>Arduino</li>
        <li>Raspberry Pi</li>
        <li>Keil uVision 5</li>
        <li>STM32 CubeMX</li>
        <li>CRP2</li>
      </ul>
    </div>
    <div class="skill-column">
      <h3><i class="fas fa-hashtag"></i> Programming</h3>
      <ul>
        <li>C++</li>
        <li>Python</li>
        <li>ROS</li>
        <li>LaTeX</li>
        <li>Matlab</li>
        <li>Linux</li>
        <li>PLC</li>
      </ul>
    </div>
  </div>
</div>
