---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <h1 class="page__title" style="display: inline-block; position: relative;">
          {{ page.title }}
          {% if page.permalink == "/cv/" %}
            <a href="{{ '/files/resume.pdf' | relative_url }}"
               title="Open PDF in new tab"
               target="_blank"
               rel="noopener"
               class="resume-download-icon">
              <i class="fas fa-file-pdf"></i>
            </a>
          {% endif %}
        </h1>
      {% endunless %}
    {{ content }}
  </div>
</div>
