---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <div class="page__title-wrap" style="position: relative;">
          <h1 class="page__title">{{ page.title }}</h1>
          {% if page.permalink == "/cv/" %}
            <a href="{{ '/files/Resume.pdf' | relative_url }}"
               title="Download PDF"
               download
               class="resume-download-icon">
              <i class="fas fa-file-pdf"></i>
            </a>
          {% endif %}
        </div>
      {% endunless %}
    {{ content }}
  </div>
</div>
